*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 100px;
    background-color: #e3e7f0;
    display: flex;
    flex-direction: row;
    .logo {
        width: fit-content;
        img {
            height: 75px;
            padding: 10px;
        }
    }
    nav {
        width: fit-content;
        margin: 15px;
        a {
            text-decoration: none;
            margin: 20px 10px;
            color: white;     
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 30px;
            list-style: none;
            margin-left: 800px;
            margin-top: 10px;
        }
        li {
            background-color: #0f4eb8;
            border-radius: 10px;
            padding: 15px;
        }
        li:hover{
            box-shadow: rgba(0, 0, 0, 0.726) 2.4px 2.4px 0.5px;
        }
    }
}

body {
   background-image: url(./background.jpg);
   
}

.principal {
    display: flex;
   flex-direction: row;
   justify-content: left;
}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 30%;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    label {
        color: #0f4eb8;
    }
    p a{
        color: #0f4eb8;
    }
    button {
        background-color: #d98935;
        padding: 10px;
        border-radius: 1px;
        margin-bottom: 50px;
    }
    h1 {
        margin: 20px;
        color: #0f4eb8;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        width: 100%;
        font-weight: 600;
    }

    ul{
        margin: 10px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
       
    }

    li {
        
        padding: 30px;
        background-color: orange;
        border-radius: 5px;
        text-align: center;   
    }

    li:hover{
        box-shadow: rgba(0, 0, 0, 0.726) 2.4px 2.4px 0.5px;
    }

    table {
        border-radius: 5px;

        thead td{
            font-weight: bold;
            background-color: #0f4eb8;
            padding: 10px;
        }
        tbody td {
            padding: 10px;
            color: black;
            background-color: white;
        }
        a {
            color: black;
        }
        a:hover{
            color: #0f4eb8;
        }
    } 
}

footer {
    height: 150px;
    width: 100%;
    background-color: #0f4eb8;
    color: white;
    text-align: center;

    bottom: 0;
    display: flex;
    justify-content: center;
    img {
        height: 50px;
        padding-top: 40px;

        left: 50px;
    }
    p {
        padding-top: 70px;
    }
}
