<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Empréstimo</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Senac_logo.png">
        </div>
    </header>

    <div class="corpo">

        <h1>Alugar Livros</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/aluno/entrar'}">Login do Usuário ></a>
            <a th:href="@{'/aluno/home¬aluno'}">Usuário ></a>
            <a th:href="@{'/aluno/alugar'}">Empréstimo ></a>

        </p>
    
        <p th:text="'Usuário: '+ ${aluno.nome} + ' Ativo'"></p>
        <p th:text="'Você tem: '+${aluno.numeroLivros}+'/5 livros Alugados'"></p>
        <p th:if="${erro}">Número de Livros esgotado ou Livro já está Alugado</p>

        <h3>Livros Alugados</h3>
        <table border="1">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Título</td>
                    <td>Emprestado</td>
                    <td>Devolver</td>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="l: ${livrosAlugados}">
                    <td data-th-text="${l.codigoLivro}"></td>
                    <td data-th-text="${l.nomeLivro}"></td>
                    <td data-th-text="${l.emprestado}"></td>
                    <td><a th:href="@{'/livro/devolverLivro/'+${l.codigoLivro}}">Devolver</a></td>
                </tr>
            </tbody>
        </table>

        <h3>Livros para Alugar</h3>

        <div>
            <br>
            <form action="/aluno/buscarAlugar" method="post" th:unless="${buscaLivro}">
                <label>Busca</label>
                <input type="text" name="buscaLivro" placeholder="Título" size="50">
                <button type="submit">Buscar</button>
                <select name="tipoBusca" >
                    <option th:each="opcoe: ${opcoes}" th:value="${opcoe}" th:text="${opcoe}"></option>
                </select>
            </form>
            <form action="/aluno/buscarAlugar" method="post" th:if="${buscaLivro}">
                <label>Busca</label>
                <input type="text" name="buscaLivro" placeholder="Título" size="50" th:value="${buscaLivro}">
                <button type="submit">Buscar</button>
                <select name="tipoBusca">
                    <option th:each="opcoe: ${opcoes}" th:value="${opcoe}" th:text="${opcoe}" th:selected="(${tipoBusca == opcoe})"></option>
                </select>
                <br>
            </form>
        </div>

        <table border="1">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Título</td>
                    <td>Emprestado</td>
                    <td>Alugar</td>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="livro: ${livros}">
                    <td data-th-text="${livro.codigoLivro}"></td>
                    <td data-th-text="${livro.nomeLivro}"></td>
                    <td data-th-text="${livro.emprestado}"></td>
                    <td><a th:href="@{'/livro/alugarAluno/'+${livro.codigoLivro}}">Alugar</a></td>
                </tr>
            </tbody>
        </table>

    </div>
    <footer >
        <img src="/logo_senac_branco.svg">
        <p>&copyBiblioteca Senac - Tubarão/SC. Todos os direitos reservados. 2024.</p>
    </footer>
</body>
</html>
