<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Edição de Administradores</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Senac_logo.png">
        </div>
    </header>
    <div class="corpo" style="margin-left: 25%;">

        <h1>Página de Edição de Administradores</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/admim/entrar'}">Login do Administrador ></a>
            <a th:href="@{'/admim/home'}">Administrador ></a>
            <a th:href="@{'/admim/listar'}">Listar Administradores ></a>
            <a th:href="@{'/admim/editar/'+${admim.id}}">Editar</a>
        </p>


        <div th:if="${erro}"> <br>
            <p th:text="${erro}"></p>
        </div>

        <form action="/admim/editar" method="post">

            <input type="hidden" name="id" th:value="${admim?.id}">

            <label>Nome</label><br>
            <input type="text" name="nome" th:value="${admim?.nome}" required><br><br>

            <label>Usuário</label><br>
            <input type="text" name="usuario" th:value="${admim?.usuario}" required><br><br>

            <label>Senha</label><br>
            <input type="password" name="senha" required><br><br>

            <label>Repetir a Senha</label><br>
            <input type="password" name="rsenha" required><br><br>

            <button type="submit">Salvar</button>
        </form><br>

    </div>
    
</body>
</html>