<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Edição de Livros</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Senac_logo.png">
        </div>
    </header>
    <div class="corpo" style="margin-left: 25%;">
        <h1>Pagina de Edição de Livros</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/admim/entrar'}">Login do Administrador ></a>
            <a th:href="@{'/admim/home'}">Administrador ></a>
            <a th:href="@{'/livro/estoque'}">Estoque de Livros ></a>
            <a th:href="@{'/livro/editar/'+${livro.codigoLivro}}">Editar</a>
        </p>

        <form action="/livro/resgistro" method="post">
    
            <label>Título do Livro</label>
            <input type="text" name="nomeLivro" th:value="${livro?.nomeLivro}"><br><br>
    
            <input type="hidden" name="codigoLivro" th:value="${livro?.codigoLivro}"><br><br><br>
    
            <button type="submit">Resgistrar</button>
    
        </form>
    </div>
    
</body>
</html>