<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Login do Usuário</title>
</head>
<body>

    <div class="corpo" style="margin-left: 40%;">

        <h1>Login do Usuário</h1>
        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/aluno/entrar'}">Login do Usuário ></a>
        </p>

        <form action="/aluno/entrar" method="post">
        

            <label>Id do Usuário</label><br>
            <input type="text" name="id" required><br><br>

            <label>Senha</label><br>
            <input type="password" name="senha" required><br><br>
    
            <button type="submit">Entrar</button>
    
        </form>
    
        <div th:if="${erro}">
            <br>
            <p>Erro, Id ou Senha Incorretos</p>
        </div>

    </div>

</body>
</html>