<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Página Inicial</title>
</head>
<body>

    <div class="logo">
        <img src="/Senac_logo.png">
    </div>
    
    <div class="corpo">
        <h1>Página Inicial</h1>
  
        <ul>
            <a th:href="@{'/aluno/entrar'}"><li>Sistema do Usuário</li></a>
            <a th:href="@{'/admim/entrar'}"><li>Sistema do Administrador</li></a>
            <a th:href="@{'/admim/padrao'}"><li>[Em caso de deletar o repositorio de Admin]</li></a>
        </ul>
    </div>
    

</body>
</html>
