<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Página Inicial</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Senac_logo.png">
        </div>
    </header>
    
    <div class="corpo">
        <h1>Página Inicial</h1>
  
        <ul>
            <a th:href="@{'/aluno/entrar'}"><li>Sistema do Usuário</li></a>
            <a th:href="@{'/admim/entrar'}"><li>Sistema do Administrador</li></a>
            <a th:href="@{'/admim/padrao'}"><li>[Em caso de deletar o repositorio de Admin]</li></a>
        </ul>
    </div>
    <footer style="position: fixed;">
        <img src="/logo_senac_branco.svg">
        <p>&copyBiblioteca Senac - Tubarão/SC. Todos os direitos reservados. 2024.</p>
    </footer>
    

</body>
</html>
