<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Lista de Usuários</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Senac_logo.png">
        </div>
    </header>

    <div class="corpo">

        <h1>Lista de Usuários Registrados</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/admim/entrar'}">Login do Administrador ></a>
            <a th:href="@{'/admim/home'}">Administrador ></a>
            <a th:href="@{'/aluno/listar'}">Listar Usuários</a>
        </p>

        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Quant. de Livros</td>
                    <td>Exluir</td>
                    <td>Editar</td>
                </tr>
            </thead>
    
            <tbody>
                <tr data-th-each="aluno: ${alunos}">
                    <td data-th-text="${aluno.id}"></td>
                    <td data-th-text="${aluno.nome}"></td>
                    <td data-th-text="${aluno.numeroLivros}"></td>
                    <td>*</td>
                    <td>*</td>
                </tr>
            </tbody>
        </table>

    </div>
    <footer style="position: fixed;">
        <img src="/logo_senac_branco.svg">
        <p>&copyBiblioteca Senac - Tubarão/SC. Todos os direitos reservados. 2024.</p>
    </footer>
</body>

</html>