<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca Senac</title>
</head>
<body>

    <div class="corpo">

        <h1>Página de Cadastro de Aluno</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/admim/entrar'}">Entrar Admin ></a>
            <a th:href="@{'/admim/home'}">Admin ></a>
            <a th:href="@{'/aluno/registrar'}">Registrar</a>
            
        </p>

        <div th:if="${erro}"> <br>
            <p>Senhas não São Iguais</p>
        </div>

        <form action="/aluno/registrar" method="post">

            <label>Nome</label><br>
            <input type="text" name="nome" required><br><br>

            <label>Senha</label><br>
            <input type="password" name="senha" required><br><br>

            <label>Repitir a Senha</label><br>
            <input type="password" name="rsenha" required><br><br>

            <button type="submit">Salvar</button>
        </form><br>

    </div>
    
</body>
</html>