<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC | Registro de livros</title>
</head>
<body>

    <div class="corpo" style="margin-left: 30%;">
        <h1>Registro de Livros</h1>
        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/admim/entrar'}">Login do Adminstrador ></a>
            <a th:href="@{'/admim/home'}">Administrador ></a>
            <a th:href="@{'/livro/resgistro'}">Registrar Livros</a>
        </p>

        <div th:if="${erro}">
            <p th:text="${erro}"></p>
        </div>
        <div th:if="${certo}">
            <p th:text="${certo}"></p>
        </div>

        <form action="/livro/resgistro" method="post">
    
            <label>Título do Livro</label>
            <input type="text" name="nomeLivro"><br><br>
    
            <label>Código do Livro</label>
            <input type="text" name="codigoLivro" required><br><br><br>
    
            <button type="submit">Registrar</button>
    
        </form>
    </div>
    
</body>
</html>