<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC</title>
</head>
<body>

    <div class="logo">
        <img src="/Senac_logo.png">
    </div>
    
    <div class="corpo">
        <h1>Página Inicial</h1>
  
        <ul>
            <li><a th:href="@{'/aluno/entrar'}">Sistema Aluno</a></li>
            <li><a th:href="@{'/admim/entrar'}">Sistema Admin</a></li>
        </ul>
    </div>
    

</body>
</html>