<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Biblioteca SENAC</title>
</head>
<body>

    <div class="logo">
        <img src="Senac_logo.png">
    </div>
    
    <div class="corpo">
        <h1>Página Inicial</h1>

        <p>
            <a th:href="@{'/home'}">Home ></a>
            <a th:href="@{'/home¬biblioteca'}">Biblioteca ></a>
        </p>
  
        <ul>
            <li><a th:href="@{'/livro/resgistro'}">Registrar Livro</a></li>
            <li><a th:href="@{'/livro/estoque'}">Estoque de Livros</a></li>
            <li><a th:href="@{'/livro/emprestados'}">Livros Alugados</a></li>
            <li><a th:href="@{'/livro/disponiveis'}">Livros Disponíveis</a></li>
            <li><a th:href="@{'/livro/devolucoes'}">Log de Livros Devolvidos</a></li>
            <li><a th:href="@{'/aluno/registrar'}">Registrar Aluno</a></li>
            <li><a th:href="@{'/aluno/listar'}">Listar Alunos</a></li>
        </ul>
    </div>
    

</body>
</html>